html {
  background-color: black;
  color: white;
}

.heading {
    background-color: black;
}

.heading h1 {
  color: black;
  text-align: center;
  font-style: italic;
  font-family: monospace;
  font-size: 100px;
  text-shadow: 3px 3px grey;
  background-color: skyblue;
}

.heading img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.row {
  text-align: center;
  background-color: Black;
  color: white;
  font-family: monospace;
}

.nav-well {
  background-color: #302f2c ;
}
