html {
  background-color: black;
  color: white;
}

.splash, .repos {
    background-color: black;
    color: white;
    font-family: monospace;
    padding-top: 10px;
}

.splash h1 {
  color: black;
  text-align: center;
  font-style: italic;
  font-family: monospace;
  font-size: 100px;
  text-shadow: 3px 3px #1c3c78;
  background-color: skyblue;
  margin-left: 40px;
  margin-right: 40px;
  border: 10px solid #1c3c78;
}

.splash img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding: 20px;
  border: 10px solid #1c3c78;
}

.row {
  text-align: center;
  background-color: Black;
  color: white;
  font-family: monospace;
}

.nav-well {
  background-color: #302f2c ;
  border-color: darkgrey;
  border: 5px dashed darkgrey;
  margin: 0;
  height: fixed;
}

ol, ul {
  text-align: left;
}

.bridget {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  float: right;
  padding: 15px;
}

.about p {
  padding: 15px;
}

.interests p, ul{
  padding: 15px;
}

.interests p, li {
  text-align: left;
}

.biography {
    font-size: 15px;
}

.biography h1, h2 {
  text-decoration: underline;
  color: lime;

}

.contacts {
  text-align: center;
  background-color: Black;
  color: white;
  font-family: monospace;
  padding-top: 100px;
  padding-bottom: 50px;
}

.make-red {
  color: red;
}

#demo {
  opacity: 0.10;
  width: 75%;
}

.experience ul, ol {
  padding-top: 10px;
}

.panel-body {
  color: black;
}

.repos {
  padding: 100px;
  text-align: center;
}
